@model DevMS.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Detalhes " + Model.Nome;
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <hr />
    <div class="col-md-4">
        <img style="width:400px" src="~/imagens/@Model.Imagem" alt="~/imagens/@Model.Imagem" />
    </div>
    <dl class=" col-md-6">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Model.Valor.ToString("C")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
    <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
</div>
